.priorityAndStatus {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.statusCompleted {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: red;
}

.priority, .time {
    font-weight: bold;
    font-size: smaller;
}

.priority {
    font-style: italic;
}