.nav {
    grid-area: n;
    min-height: 100vh;
    background-color: blanchedalmond;
    border-radius: 10px;
    line-height: 1.5;
}

.mainImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}