.home {
    grid-area: c;
    background-color: aquamarine;
    margin-top: 5px;
    min-height: 675px;
    border-radius: 20px;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.warn {
    color: red;
    font-size: 0.7em;
}