.header {
    grid-area: h;
    background-color: aquamarine;
    border-radius: 10px;
    /*display: grid;*/
    /*grid-template-columns: 0.5fr 11.5fr;*/
    /*grid-template-areas:*/
            /*"x y";*/
    /*align-items: center;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navk {
    grid-area: h;
    background-color: aquamarine;
    /*display: grid;*/
    /*grid-template-columns: 0.5fr 11.5fr;*/
    /*grid-template-areas:*/
            /*"x y";*/
    /*align-items: center;*/
}

.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.but {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    outline: none;
}

.but:active, .but:focus {
    outline: none;
}